<!-- Footer -->
<footer id="footer">
  <ul class="icons">
    {% for socloc in site.social %}
    {% if socloc[1] %}
    {% if socloc[0] == 'email' %}
    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-envelope-o"
           ><span class="label">E-mail</span></a></li>
    {% else %}
    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }}"
           ><span class="label">{{ socloc[0] }}</span></a></li>
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>
  <ul class="copyright">
    <li>&copy; {% assign thisyear = site.time | date: "%Y" %}
    {% if site.first_published %}
      {% capture diff %}{{ site.first_published | minus:thisyear }}{% endcapture %}
      {% if diff contains '-' %}{{ site.first_published }},{% endif %}
    {% endif %}
    {{ thisyear }}
    {% if site.owner %}{{ site.owner }}{% else %}{{ site.title }}{% endif %}</li>
    <li>Site Management: <a href="https://arkmountain.com" target="_blank">Ark Mountain</a></li>
    <li>Legal: <a href="https://farm6media.com/privacy.html" target="_blank">Privacy Policy</a> / <a href="https://farm6media.com/terms.html">Terms & Conditions</a></li>
  </ul>
  <ul>
    <li>Farm 6 Media - A Division of Ark Mountain Corporation, 236 Pritchard Rd. Hamilton, ON CANADA L9A 3W3 <a href="mailto:info@farm6.net">info@farm6.net</a> 1-647-932-7594</li>
  
    <li style="font-size:0.5em;">Affiliate Disclaimer:  Farm 6 Media is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to help websites generate advertising fees.  This is accomplished by advertising and linking back to Amazon.com.  Farm 6 Media also participates in other affiliate programs with companies like Bluehost, Adobe, Shareasale, and other websites.  We are compensated for referring traffic to these sites.</li></ul>
</footer>
